In [1]:
import pandas  as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
ai_raw = pd.read_csv('FINAL_ML_con_TIERRA.csv')

In [3]:
ai = ai_raw.drop(columns=['orbit_semi-major_axis_[au])', 'insolation_flux_earth', 'orbital_period_[days]', 'Unnamed: 0', 'planet_name', 'host_name', 'ratio_of_semi-major_axis_to_stellar_radius', 'stellar_effective_temperature_[k]', 'stellar_radius_[solar_radius]', 'stellar_mass_[solar_mass]', 'distance_[pc]', 'number_of_planets', 'stellar_surface_gravity', 'stellar_age_[gyr]'])
ai.dropna(inplace=True)

In [7]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
ai_standardized = scaler.fit_transform(ai)
earth = ai_standardized[-1].reshape(1,-1)

In [28]:
from sklearn.metrics import euclidean_distances
distances = euclidean_distances(ai_standardized, earth)

In [29]:
sorted_distances = np.sort(distances, axis=0)

In [45]:
for index, v in enumerate(distances):
    if v in sorted_distances[:4]:
        print(index)

1332
1333
1582
4845

In [33]:
ai['distances'] = distances

In [47]:
ai

,planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],distances
0,12.10,6165.60000,19.100000,0.231000,313.321965,0.388450
1,12.30,4684.81420,13.800000,0.080000,313.321965,0.357404
2,12.90,1525.50000,3.900000,0.000000,313.321965,0.359344
3,12.60,2586.74645,7.110000,0.372689,308.484799,0.428312
4,13.50,565.73740,1.260000,0.680000,311.602502,0.587546
...,...,...,...,...,...,...
5261,2.20,5.48000,2.830000,0.000000,823.000000,0.146409
5262,4.92,21.50000,0.992000,0.000000,600.000000,0.146205
5263,3.85,14.20000,1.370000,0.000000,439.000000,0.097786
5264,1.90,254.30000,34.972449,0.060000,1157.000000,0.229341
5265,1.00,1.00000,5.520000,0.016700,255.000000,0.000000

In [36]:
#now merge distances to ai_raw where the index is the same. if no distance is found, then put a 0
ai_raw['distances'] = ai['distances']

In [39]:
ai_raw.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5266 entries, 0 to 5265
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Unnamed: 0                                  5266 non-null   int64
 1   planet_name                                 5266 non-null   object
 2   host_name                                   5266 non-null   object
 3   orbital_period_[days]                       5262 non-null   float64
 4   orbit_semi-major_axis_[au])                 5077 non-null   float64
 5   planet_radius                               5261 non-null   float64
 6   planet_mass                                 5261 non-null   float64
 7   planet_density                              5235 non-null   float64
 8   eccentricity                                5266 non-null   float64
 9   equilibrium_temperature_[k]                 4868 non-null   float64
 10  ratio_of_semi-major_axis_to_stellar_radius  4994 non-null   float64
 11  stellar_effective_temperature_[k]           5266 non-null   float64
 12  stellar_radius_[solar_radius]               5266 non-null   float64
 13  stellar_mass_[solar_mass]                   5262 non-null   float64
 14  distance_[pc]                               5248 non-null   float64
 15  number_of_planets                           5266 non-null   int64
 16  insolation_flux_earth                       4868 non-null   float64
 17  stellar_surface_gravity                     5238 non-null   float64
 18  stellar_age_[gyr]                           5266 non-null   float64
 19  distances                                   4846 non-null   float64
dtypes: float64(16), int64(2), object(2)
memory usage: 1.4 MB

In [48]:
ai_raw.iloc[1399]

Unnamed: 0                                            1399
planet_name                                   TRAPPIST-1 e
host_name                                       TRAPPIST-1
orbital_period_[days]                             6.101013
orbit_semi-major_axis_[au])                        0.02925
planet_radius                                         0.92
planet_mass                                          0.692
planet_density                                    4.901605
eccentricity                                        0.0051
equilibrium_temperature_[k]                          250.0
ratio_of_semi-major_axis_to_stellar_radius          52.855
stellar_effective_temperature_[k]                   2566.0
stellar_radius_[solar_radius]                         0.12
stellar_mass_[solar_mass]                             0.09
distance_[pc]                                    12.429889
number_of_planets                                        7
insolation_flux_earth                                 0.65
stellar_surface_gravity                               5.24
stellar_age_[gyr]                                      0.5
distances                                         0.008363
Name: 1399, dtype: object