In [3]:
import pandas  as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import selenium
import feedparser
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import requests as req
from bs4 import BeautifulSoup as bs    # ambos alias son cosa mia
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

In [4]:
withoutml = pd.read_csv('REALdata.csv')

In [5]:
withmachine = pd.read_csv('FINAL_ML.csv')

In [6]:
withmachine_and_earth = pd.read_csv('FINAL_ML_con_TIERRA.csv')

In [7]:
withoutml.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5265 entries, 0 to 5264
Data columns (total 19 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Unnamed: 0                                  5265 non-null   int64
 1   planet_name                                 5265 non-null   object
 2   host_name                                   5265 non-null   object
 3   orbital_period_[days]                       5050 non-null   float64
 4   orbit_semi-major_axis_[au])                 4982 non-null   float64
 5   planet_radius                               5248 non-null   float64
 6   planet_mass                                 5245 non-null   float64
 7   planet_density                              5153 non-null   float64
 8   eccentricity                                5265 non-null   float64
 9   equilibrium_temperature_[k]                 3882 non-null   float64
 10  ratio_of_semi-major_axis_to_stellar_radius  4993 non-null   float64
 11  stellar_effective_temperature_[k]           5081 non-null   float64
 12  stellar_radius_[solar_radius]               5061 non-null   float64
 13  stellar_mass_[solar_mass]                   5261 non-null   float64
 14  distance_[pc]                               5247 non-null   float64
 15  number_of_planets                           5265 non-null   int64
 16  insolation_flux_earth                       3634 non-null   float64
 17  stellar_surface_gravity                     5053 non-null   float64
 18  stellar_age_[gyr]                           4138 non-null   float64
dtypes: float64(15), int64(2), object(2)
memory usage: 1.4 MB

In [8]:
withmachine.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5265 entries, 0 to 5264
Data columns (total 19 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Unnamed: 0                                  5265 non-null   int64
 1   planet_name                                 5265 non-null   object
 2   host_name                                   5265 non-null   object
 3   orbital_period_[days]                       5261 non-null   float64
 4   orbit_semi-major_axis_[au])                 5076 non-null   float64
 5   planet_radius                               5260 non-null   float64
 6   planet_mass                                 5260 non-null   float64
 7   planet_density                              5234 non-null   float64
 8   eccentricity                                5265 non-null   float64
 9   equilibrium_temperature_[k]                 4867 non-null   float64
 10  ratio_of_semi-major_axis_to_stellar_radius  4993 non-null   float64
 11  stellar_effective_temperature_[k]           5265 non-null   float64
 12  stellar_radius_[solar_radius]               5265 non-null   float64
 13  stellar_mass_[solar_mass]                   5261 non-null   float64
 14  distance_[pc]                               5247 non-null   float64
 15  number_of_planets                           5265 non-null   int64
 16  insolation_flux_earth                       4867 non-null   float64
 17  stellar_surface_gravity                     5237 non-null   float64
 18  stellar_age_[gyr]                           5265 non-null   float64
dtypes: float64(15), int64(2), object(2)
memory usage: 1.4 MB

In [9]:
withmachine_and_earth.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5266 entries, 0 to 5265
Data columns (total 19 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Unnamed: 0                                  5266 non-null   int64
 1   planet_name                                 5266 non-null   object
 2   host_name                                   5266 non-null   object
 3   orbital_period_[days]                       5262 non-null   float64
 4   orbit_semi-major_axis_[au])                 5077 non-null   float64
 5   planet_radius                               5261 non-null   float64
 6   planet_mass                                 5261 non-null   float64
 7   planet_density                              5235 non-null   float64
 8   eccentricity                                5266 non-null   float64
 9   equilibrium_temperature_[k]                 4868 non-null   float64
 10  ratio_of_semi-major_axis_to_stellar_radius  4994 non-null   float64
 11  stellar_effective_temperature_[k]           5266 non-null   float64
 12  stellar_radius_[solar_radius]               5266 non-null   float64
 13  stellar_mass_[solar_mass]                   5262 non-null   float64
 14  distance_[pc]                               5248 non-null   float64
 15  number_of_planets                           5266 non-null   int64
 16  insolation_flux_earth                       4868 non-null   float64
 17  stellar_surface_gravity                     5238 non-null   float64
 18  stellar_age_[gyr]                           5266 non-null   float64
dtypes: float64(15), int64(2), object(2)
memory usage: 1.4 MB

In [10]:
withmachine_and_earth

,Unnamed: 0,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],ratio_of_semi-major_axis_to_stellar_radius,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr]
0,0,11 Com b,11 Com,326.030000,1.290000,12.10,6165.60000,19.100000,0.231000,313.321965,14.599543,4742.0,19.00,2.70,93.1846,1,31379.795326,2.3100,0.194501
1,1,11 UMi b,11 UMi,516.219970,1.530000,12.30,4684.81420,13.800000,0.080000,313.321965,11.043941,4213.0,29.79,2.78,125.3210,1,31379.795326,1.9300,1.560000
2,2,14 And b,14 And,185.840000,0.830000,12.90,1525.50000,3.900000,0.000000,313.321965,16.225144,4813.0,11.00,2.20,75.4392,1,31379.795326,2.6300,4.500000
3,3,14 Her b,14 Her,1765.038901,2.773069,12.60,2586.74645,7.110000,0.372689,308.484799,641.181348,5338.0,0.93,0.91,17.9323,2,29290.077908,4.4500,3.900000
4,4,16 Cyg B b,16 Cyg B,798.500000,1.660000,13.50,565.73740,1.260000,0.680000,311.602502,315.887759,5750.0,1.13,1.08,21.1397,1,29306.735908,4.3600,7.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5261,5261,Kepler-229 b,Kepler-229,6.252972,0.062000,2.20,5.48000,2.830000,0.000000,823.000000,18.940000,5120.0,0.73,0.80,826.2650,3,76.220000,4.6300,1.100000
5262,5262,Kepler-229 c,Kepler-229,16.068638,0.117000,4.92,21.50000,0.992000,0.000000,600.000000,36.850000,5120.0,0.73,0.80,826.2650,3,21.640000,4.6300,1.100000
5263,5263,Kepler-229 d,Kepler-229,41.194912,0.220000,3.85,14.20000,1.370000,0.000000,439.000000,70.750000,5120.0,0.73,0.80,826.2650,3,6.160000,4.6300,1.100000
5264,5264,Kepler-23 b,Kepler-23,7.107300,0.075000,1.90,254.30000,34.972449,0.060000,1157.000000,10.643000,5760.0,1.52,1.11,835.7560,3,446.110000,4.0000,6.000000
5265,5265,Earth,Sun,365.250000,1.000000,1.00,1.00000,5.520000,0.016700,255.000000,215.000000,5780.0,1.00,1.00,0.0000,8,1.000000,4.4378,4.600000