In [26]:
import pandas  as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import selenium
import feedparser
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import requests as req
from bs4 import BeautifulSoup as bs    # ambos alias son cosa mia
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

In [27]:
orbital_period = pd.read_csv('orbitalperiod_AI_onlyv.csv')
orbital_period.drop(['Unnamed: 0'], axis=1, inplace=True)

In [28]:
orbital_period

,orbit_semi-major_axis_[au]),equilibrium_temperature_[k],insolation_flux_earth,orbital_period_[days]
0,0.01544,1958.0,2657.83,0.736547
1,0.06450,593.0,76.64,8.462999
2,0.01850,464.0,8.60,2.290700
3,0.02752,1898.0,2852.63,1.508956
4,0.04016,1442.0,661.13,2.828042
...,...,...,...,...
3493,0.10100,835.0,122.78,11.094286
3494,0.06200,823.0,76.22,6.252972
3495,0.11700,600.0,21.64,16.068638
3496,0.22000,439.0,6.16,41.194912
3497,0.07500,1157.0,446.11,7.107300

In [29]:
predictdata = pd.read_csv('orbitalperiod_AI_prediction.csv')
predictdataraw = predictdata.drop(['Unnamed: 0'], axis=1)

In [59]:
X = orbital_period.drop(['orbital_period_[days]', 'insolation_flux_earth', 'equilibrium_temperature_[k]'], axis=1)
y = orbital_period['orbital_period_[days]']

In [60]:
#X = StandardScaler().fit_transform(X)

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=41)

In [62]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2798, 1), (700, 1), (2798,), (700,))

In [63]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [64]:
y_pred = lr.predict(X_test)

In [65]:
y_pred[:10]

array([-14.21040379,  -2.22742427,  21.83595738, -14.50267158,
        21.34884439,   0.79267626, -14.16169249,   1.13365536,
        19.40039243, -24.19134893])

In [66]:
mean_squared_error(y_test, y_pred, squared=False)

59.9329573617652

In [67]:
orbital_period['orbital_period_[days]'].mean()

28.48695925383366

In [68]:
#ahora con random forest
rf = RandomForestRegressor(n_estimators=100, max_depth=4, random_state=42)
rf.fit(X_train, y_train)

RandomForestRegressor(max_depth=4, random_state=42)

In [69]:
y_pred = rf.predict(X_test)

In [70]:
mean_squared_error(y_test, y_pred, squared=False)

26.91584832728868

In [74]:
mean = orbital_period['orbital_period_[days]'].mean()
mean

28.48695925383366

In [76]:
y_pred[85:110]

array([ 7.82258979, 19.58862721, 37.40623338,  5.86808198,  5.86808198,
       21.91696499,  5.86808198,  6.14862216,  5.86808198, 94.6995639 ,
       24.79327211, 27.09413375,  7.21321375,  5.86808198,  5.86808198,
       47.9394928 , 14.33697284,  5.86808198, 15.31571281,  5.86808198,
       10.02117225, 10.02117225, 30.95510621,  5.86808198,  5.86808198])

In [77]:
y_test[85:110]

1384    13.722341
2558    18.010199
2733    35.622233
1388     1.594745
523      4.808498
1094    24.364500
2620     2.164571
1644     7.812540
2043     5.419026
2403    85.735028
3132    25.751974
1153    28.679920
1370    10.526294
1151     3.002650
2222     4.244384
2949    47.312619
1986    13.093921
590      0.989343
2137    15.334800
139      4.375021
1055    12.757580
1909    11.189562
1995    31.781925
1017     3.645140
4        2.828042
Name: orbital_period_[days], dtype: float64