In [1]:
import pandas  as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import selenium
import feedparser
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import requests as req
from bs4 import BeautifulSoup as bs    # ambos alias son cosa mia
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

In [139]:
orbital_period = pd.read_csv('orbitalperiod_AI_onlyv.csv')
orbital_period2 = orbital_period.drop(['Unnamed: 0'], axis=1)

In [140]:
orbital_period

,Unnamed: 0,orbit_semi-major_axis_[au]),equilibrium_temperature_[k],insolation_flux_earth,orbital_period_[days]
0,30,0.01544,1958.0,2657.83,0.736547
1,46,0.06450,593.0,76.64,8.462999
2,73,0.01850,464.0,8.60,2.290700
3,80,0.02752,1898.0,2852.63,1.508956
4,83,0.04016,1442.0,661.13,2.828042
...,...,...,...,...,...
3493,5260,0.10100,835.0,122.78,11.094286
3494,5261,0.06200,823.0,76.22,6.252972
3495,5262,0.11700,600.0,21.64,16.068638
3496,5263,0.22000,439.0,6.16,41.194912
3497,5264,0.07500,1157.0,446.11,7.107300

In [3]:
predictdataraw = pd.read_csv('orbitalperiod_AI_prediction.csv')
predictdata = predictdataraw.drop(['orbital_period_[days]', 'Unnamed: 0'], axis=1)

In [143]:
X = orbital_period.drop(['orbit_semi-major_axis_[au])', 'insolation_flux_earth', 'equilibrium_temperature_[k]', 'Unnamed: 0'], axis=1)
y = orbital_period['orbital_period_[days]']

In [144]:
def modelexecution(X, y, depth):
    X = StandardScaler().fit_transform(X)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    global model1
    model1 = RandomForestRegressor(n_estimators=200, max_depth=depth, random_state=42)
    model1.fit(X_train, y_train)
    global y_pred_rf
    y_pred_rf = model1.predict(X_test)
    global MSE_RF
    MSE_RF = mean_squared_error(y_test, y_pred_rf, squared=False)
    global model2
    model2 = LinearRegression()
    model2.fit(X_train, y_train)
    global y_pred_lr
    y_pred_lr = model2.predict(X_test)
    global MSE_LR
    MSE_LR = mean_squared_error(y_test, y_pred_lr, squared=False)
    return MSE_LR, MSE_RF

In [145]:
modelexecution(X, y, 10)

(2.5258023698388656e-13, 20.88590544499371)

In [146]:
mean = orbital_period['orbital_period_[days]'].mean()
mean

28.48695925383366

In [147]:
predictdata.drop(['equilibrium_temperature_[k]', 'insolation_flux_earth'] ,axis=1, inplace=True)

KeyError: "['equilibrium_temperature_[k]', 'insolation_flux_earth'] not found in axis"

In [9]:
predictdata.dropna(inplace=True)

In [10]:
predictdata

     orbit_semi-major_axis_[au])
0                         330.00
1                         118.00
2                          84.00
3                          52.00
4                         156.00
..                           ...
210                         2.29
211                         0.72
212                         2.50
213                         1.90
214                         1.15

[211 rows x 1 columns]

In [11]:
X.shape, predictdata.shape

((3498, 1), (211, 1))

In [13]:
final_pred = model1.predict(predictdata)

In [17]:
for i in y_pred_rf:
    print('{:.2f}'.format(i))

6.09
3.99
6.92
2.43
3.30
10.49
9.79
3.99
2.72
0.70
9.64
7.26
7.95
28.40
5.02
12.31
3.79
14.98
48.97
1.11
3.93
3.80
4.81
12.21
21.26
32.04
5.64
5.55
5.78
5.49
2.62
21.63
8.93
13.04
38.13
122.97
3.80
2.46
7.61
8.25
20.57
1080.14
4.72
6.37
20.45
7.66
26.85
19.03
3.28
2.42
3.68
1.54
16.67
3.13
12.83
3.14
1.18
1.55
6.01
4.21
2.39
8.02
17.11
2.76
62.37
49.93
92.11
15.06
4.92
19.05
17.09
10.32
10.78
2.62
4.40
9.09
1.68
19.47
39.43
5.65
32.50
15.73
3.68
5.55
6.80
40.58
3.52
5.55
2.06
4.40
38.06
8.28
3.13
8.83
3.30
1.02
8.91
51.86
12.08
3.67
6.80
10.43
14.72
3.65
4.97
23.81
40.58
14.88
128.85
2.78
4.95
3.67
12.21
4.63
3.30
18.92
4.23
6.91
3.65
47.43
17.55
53.98
16.11
11.66
5.65
12.06
10.65
12.34
1.26
3.21
18.95
270.99
7.43
43.14
6.01
3.17
9.41
2.68
3.16
12.21
5.98
5.47
40.58
6.01
16.10
97.78
32.56
4.71
4.95
1.17
3165.08
66.23
39.19
53.98
221.05
4.83
22.89
10.78
32.19
64.38
4.37
7.25
4.40
136.92
12.67
22.60
28.93
26.85
14.62
83.47
226.71
0.52
10.69
0.51
26.68
46.01
13.59
3.27
26.68
3.33
3.35
6.31
2.58
3.27
3.67
8.25
12.83
18.22
42.22
2.06
2.62
12.94
7.61
4.63
42.62
4.40
121.92
55.21
23.72
380.95
13.01
11.74
14.85
11.01
3.17
85.21
428.59
3.30
360.11
4.44
7.38
1.73
74.88
10.49
122.51
8.87
3.72
4.41
109.18
11.66
8.90
27.73
3.30
12.28
4.92
6.95
19.69
15.37
10.04
16.70
5.69
11.48
2.10
12.94
6.81
16.08
4.71
25.85
4.40
4.91
24.98
4.05
6.13
3.72
6.35
92.11
14.42
4.95
4.46
8.02
23.81
3.33
84.89
2.77
1.56
39.43
428.59
5.59
23.47
4.41
2.78
2.06
3.67
4.53
65.36
2.40
4.71
229.16
101.00
2.43
1.55
1.17
2.06
19.56
3.13
4.62
1.67
8.33
6.01
12.94
19.04
0.70
4.40
8.86
1.04
13.48
5.55
4.71
3.51
14.62
103.00
4.70
2.10
18.04
4.97
15.09
5.02
4.37
0.69
62.74
2.32
4.05
2.31
4.92
8.81
26.19
19.85
31.14
8.10
2.05
8.81
13.45
123.23
54.88
3.27
4.63
6.93
3.66
14.78
431.73
4.92
21.42
6.82
21.26
19.04
1.54
26.78
15.68
23.99
428.59
14.42
1.57
17.09
2.06
18.90
5.49
4.71
1.32
305.49
5.46
39.00
6.81
8.99
27.90
16.77
0.68
1.58
137.74
19.01
9.09
28.82
39.45
1.54
5.55
2.32
5.55
5.02
20.81
6.71
5.64
14.98
7.44
1.27
2.39
21.01
33.46
2.32
6.92
2.15
3.98
4.41
10.37
0.52
4.71
8.81
50.76
2.10
2.58
53.43
23.99
11.63
2.50
0.70
6.37
1.17
4.91
4.23
6.77
12.72
4.74
3.30
3.27
3.31
40.58
101.77
19.77
16.08
20.57
1.58
1.03
66.24
10.63
4.74
22.60
16.07
11.48
41.68
3.16
224.31
2.26
2.20
11.63
5.73
12.68
14.49
6.66
2.39
93.56
21.23
25.07
1.56
4.00
16.69
3.30
3.22
6.91
26.55
15.68
8.09
2.11
206.95
236.26
4.72
6.69
10.78
2.80
2.31
17.41
15.07
4.71
3.99
4.79
3.30
14.93
1.58
14.53
71.19
3.34
39.06
7.95
4.65
11.71
1.17
127.41
32.59
6.10
21.33
3.39
13.54
20.81
2.17
1.03
150.47
16.07
5.76
1394.02
3.98
6.87
229.16
5.47
57.41
1.11
4.37
36.19
3.34
15.28
3.67
14.85
15.30
2.17
0.50
3.22
26.01
3.97
1.05
3.24
145.50
8.21
50.77
10.78
10.65
67.46
3.30
8.90
28.09
9.27
52.57
19.46
28.34
6.80
26.17
1.05
21.00
11.74
4.53
17.03
6.80
19.04
18.04
21.69
3.67
52.56
47.19
8.76
8.96
62.09
2.72
4.76
2.17
2.06
7.77
26.19
14.98
5.46
8.21
1.17
27.35
91.90
24.14
136.88
12.18
12.77
4.71
7.95
55.21
2.26
6.77
2.58
17.18
2.72
3.31
166.36
19.50
11.02
6.77
74.49
3.80
18.11
2.52
7.23
2.58
145.39
50.47
1.18
37.73
14.38
48.97
10.49
10.07
27.35
2.78
8.44
2.78
16.62
4.91
1.65
4.75
2.06
3.12
1.88
3.44
30.30
136.92
13.79
7.95
2.58
26.73
8.03
65.38
4.65
24.20
12.28
9.35
49.03
2.78
1.17
3.30
4.54
14.49
17.41
6.01
17.09
23.66
4.76
2.58
25.04
1.56
3.21
4.40
5.49
11.63
1.03
7.23
3.67
6.77
6.68
17.09
26.19
3.12
1.17
423.09
4.37
11.63
134.65
39.84
12.33
50.00
8.89
14.42
63.45
6.92
2.10
2.30
2.80
10.40
26.23
114.21
26.72
222.48
20.78
39.06
17.86
45.59
3.34
2.58
2.77
17.62
6.81
4.63
10.78
2.50
2.78
15.14
4.40
3.34
38.52
2.32
10.88
4.71
77.62
3.52
89.26
21.38
3.30
6.10
6.63
40.15
5.64
180.04
10.04
4.61
16.07
0.48
11.01
3.16
4.71
10.65
6.11
21.12
16.67
2.76
12.15
4.72
3.96
51.54
1.03
14.67
19.04
8.98
16.04
8.13
1.58
3.80
2.38
27.21
21.42
25.92
2.77
65.84
38.24
10.07
33.04
1.04
8.99
16.70
2.31
13.45
4.93
12.32
20.52

In [24]:
predictdata

     orbit_semi-major_axis_[au])
0                         330.00
1                         118.00
2                          84.00
3                          52.00
4                         156.00
..                           ...
210                         2.29
211                         0.72
212                         2.50
213                         1.90
214                         1.15

[211 rows x 1 columns]

In [26]:
predictdata['predicted'] = final_pred

In [27]:
predictdata

     orbit_semi-major_axis_[au])    predicted
0                         330.00  3165.079609
1                         118.00  3165.079609
2                          84.00  3165.079609
3                          52.00  3165.079609
4                         156.00  3165.079609
..                           ...          ...
210                         2.29   182.929938
211                         0.72    51.527127
212                         2.50   205.314025
213                         1.90   145.744019
214                         1.15    85.210823

[211 rows x 2 columns]

In [18]:
for i in final_pred:
    print('{:.2f}'.format(i))

3165.08
3165.08
3165.08
3165.08
3165.08
1913.95
3165.08
3165.08
3165.08
3165.08
3165.08
3165.08
3165.08
3165.08
3165.08
3165.08
3165.08
3165.08
3165.08
3165.08
3165.08
3165.08
3165.08
3165.08
3165.08
1023.02
3165.08
3165.08
3165.08
3165.08
3165.08
379.00
3165.08
3165.08
70.04
3165.08
3165.08
3165.08
3165.08
3165.08
224.70
266.94
335.08
145.74
272.20
240.17
275.45
168.34
90.97
218.28
218.28
275.45
384.90
118.97
63.24
134.06
140.10
300.42
50.65
68.61
224.70
83.54
176.57
221.05
134.06
143.52
209.33
49.03
85.26
225.05
75.02
222.48
332.87
366.22
134.06
297.54
208.88
332.87
335.08
80.56
136.88
156.67
604.88
431.73
65.81
272.46
156.62
224.70
129.56
57.41
143.52
156.67
124.32
384.90
297.54
252.00
134.06
272.46
38.58
54.10
316.17
63.24
272.46
384.90
129.56
53.96
309.43
66.23
428.59
365.09
145.39
224.70
1023.02
156.67
1913.95
218.28
144.19
297.54
316.17
379.00
41.78
1061.08
94.46
49.08
109.98
28.74
71.19
224.58
65.02
1240.00
379.00
52.16
49.08
378.98
140.10
138.24
68.77
204.58
93.63
167.65
224.70
83.16
564.10
49.65
3165.08
1874.92
3165.08
3165.08
3165.08
3165.08
3165.08
3165.08
3165.08
176.57
206.43
33.07
423.09
78.43
297.54
65.84
272.46
315.59
52.51
309.43
134.65
176.66
90.92
134.06
129.56
129.85
136.92
379.00
49.65
93.67
564.10
108.85
296.27
252.00
53.62
379.00
252.00
60.55
80.56
275.45
83.16
156.67
136.92
156.67
272.46
275.45
224.58
140.10
91.90
24.01
243.43
297.54
118.52
218.28
118.97
208.90
252.20
91.90
71.19
118.47
241.51
183.06
182.93
51.53
205.31
145.74
85.21

In [30]:
#ahora lo que hago es poner los valores de la prediccion en el dataframe original
#pero la problem es que no puedo poner los valores de la prediccion en el dataframe original porque tengo mas filas en el dataframe original que en el dataframe de prediccion
#por lo tanto, tengo que hacer un merge de los dos dataframes
#pero no se como hacerlo porque no tengo una columna en comun

In [35]:
predictdataraw['nulltest'] = predictdataraw['orbit_semi-major_axis_[au])'].isnull()
algo = predictdataraw[predictdataraw['nulltest'] == True]
len(algo)

4

In [36]:
#ahora hago drop de las filas que tienen valores True en la columna de nulltest
predictdataraw.drop(algo.index, inplace=True)

In [38]:
predictdataraw['predicted'] = final_pred

In [65]:
predictdataraw

,Unnamed: 0,orbit_semi-major_axis_[au]),equilibrium_temperature_[k],insolation_flux_earth,orbital_period_[days],nulltest,predicted
0,7,330.00,1700.0,NaN,NaN,False,3165.079609
1,11,118.00,1450.0,NaN,NaN,False,3165.079609
2,12,84.00,NaN,NaN,NaN,False,3165.079609
3,13,52.00,1600.0,NaN,NaN,False,3165.079609
4,14,156.00,NaN,NaN,NaN,False,3165.079609
...,...,...,...,...,...,...,...
210,2905,2.29,NaN,NaN,NaN,False,182.929938
211,2906,0.72,NaN,NaN,NaN,False,51.527127
212,2907,2.50,NaN,NaN,NaN,False,205.314025
213,2908,1.90,NaN,NaN,NaN,False,145.744019
214,2909,1.15,NaN,NaN,NaN,False,85.210823

In [32]:
predictdata

     orbit_semi-major_axis_[au])    predicted
0                         330.00  3165.079609
1                         118.00  3165.079609
2                          84.00  3165.079609
3                          52.00  3165.079609
4                         156.00  3165.079609
..                           ...          ...
210                         2.29   182.929938
211                         0.72    51.527127
212                         2.50   205.314025
213                         1.90   145.744019
214                         1.15    85.210823

[211 rows x 2 columns]

In [41]:
finaldata = predictdataraw[['Unnamed: 0', 'predicted']]

In [96]:
finaldata[:20]

    Unnamed: 0    predicted
0            7  3165.079609
1           11  3165.079609
2           12  3165.079609
3           13  3165.079609
4           14  3165.079609
5           15  1913.949807
6           16  3165.079609
7           18  3165.079609
8           43  3165.079609
9           44  3165.079609
10          61  3165.079609
11          76  3165.079609
12          79  3165.079609
13         119  3165.079609
14         170  3165.079609
15         253  3165.079609
16         298  3165.079609
17         299  3165.079609
18         300  3165.079609
19         451  3165.079609

In [85]:
rows = list(finaldata['Unnamed: 0'])

In [125]:
rows2 = list(finaldata['predicted'])

In [126]:
rows2

[3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 1913.9498069838028,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 1023.0237537499988,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 378.9999783459997,
 3165.0796094172,
 3165.0796094172,
 70.04139053986407,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 224.70208931179528,
 266.93813298400084,
 335.07737288583286,
 145.74401908148187,
 272.201594389662,
 240.17094871891604,
 275.449389643167,
 168.34001459067196,
 90.96744438971717,
 218.2768802084591,
 218.2768802084591,
 275.449389643167,
 384.89977361499984,
 118.97319265333427,
 63.24158689942958,
 134.06165454181053,
 140.10154661755848,
 300.4240847825593,
 50.651680656018556,
 68.6147552399993,
 224.70208931179528,
 83.53937691936511,
 176.56875387750543,
 221.05295606399625,
 134.06165454181053,
 143.52330537056227,
 209.33492776615276,
 49.03113611068885,
 85.2556586812277,
 225.04501157457955,
 75.01773887466425,
 222.47932001079528,
 332.8718687936674,
 366.2200624550002,
 134.06165454181053,
 297.54093988358284,
 208.87851112875705,
 332.8718687936674,
 335.07737288583286,
 80.56325229474521,
 136.88363163297763,
 156.67325744112287,
 604.8797185849995,
 431.72659350500044,
 65.81230963589897,
 272.4647131585786,
 156.62138272234563,
 224.70208931179528,
 129.56369782017953,
 57.413887641270094,
 143.52330537056227,
 156.67325744112287,
 124.31820197713495,
 384.89977361499984,
 297.54093988358284,
 252.00144484462956,
 134.06165454181053,
 272.4647131585786,
 38.5829683464108,
 54.096961556938375,
 316.1705542759765,
 63.24158689942958,
 272.4647131585786,
 384.89977361499984,
 129.56369782017953,
 53.96059364248506,
 309.4318276658325,
 66.22788049398379,
 428.58526002500076,
 365.08800154700015,
 145.39493831306513,
 224.70208931179528,
 1023.0237537499988,
 156.67325744112287,
 1913.9498069838028,
 218.2768802084591,
 144.18725964442214,
 297.54093988358284,
 316.1705542759765,
 378.9999783459997,
 41.78490012891614,
 1061.0798472499985,
 94.46394688034769,
 49.07646890744023,
 109.98214072928432,
 28.739878045349528,
 71.18906767809712,
 224.57655654957955,
 65.01730983232393,
 1240.0036927282997,
 378.9999783459997,
 52.16446505836693,
 49.07646890744023,
 378.9806041760001,
 140.10154661755848,
 138.2386975317818,
 68.77462456378464,
 204.5806112899837,
 93.63394025779074,
 167.64796841351298,
 224.70208931179528,
 83.16148658950604,
 564.101554224999,
 49.65197718060255,
 3165.0796094172,
 1874.9173409838027,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 3165.0796094172,
 176.56875387750543,
 206.43239130850708,
 33.07136620521648,
 423.0878817850005,
 78.43462577646322,
 297.54093988358284,
 65.8354842782667,
 272.4647131585786,
 315.5878431829765,
 52.50527648589138,
 309.4318276658325,
 134.64590503184397,
 176.65905443866387,
 90.91927704952515,
 134.06165454181053,
 129.56369782017953,
 129.85478530031943,
 136.91679289797761,
 378.9999783459997,
 49.65197718060255,
 93.6712986270496,
 564.101554224999,
 108.84670301423243,
 296.27313101008286,
 252.00144484462956,
 53.61734898490984,
 378.9999783459997,
 252.00144484462956,
 60.55005465143484,
 80.56325229474521,
 275.449389643167,
 83.16148658950604,
 156.67325744112287,
 136.91679289797761,
 156.67325744112287,
 272.4647131585786,
 275.449389643167,
 224.57655654957955,
 140.10154661755848,
 91.89705491122277,
 24.00873771010114,
 243.42687540849653,
 297.54093988358284,
 118.51958469146483,
 218.2768802084591,
 118.97319265333427,
 208.90292333875706,
 252.19940634462958,
 91.89705491122277,
 71.18906767809712,
 118.47420929816761,
 241.51418307179642,
 183.06422473858353,
 182.92993817846425,
 51.52712725525951,
 205.31402517252369,
 145.74401908148187,
 85.21082268775635]

In [103]:
nextdata = pd.read_csv('complete_data_with_ecc_and_ratiohalf.csv')

In [104]:
#ahora hago un merge de los dos dataframes donde unnamed 0 es lo mismo que el index. ahi cambio los valores de orbital period por los valores de predicted
nextdata['nulltest'] = nextdata['orbital_period_[days]'].str[:]
algo  = nextdata[nextdata['nulltest'] == ' ']
algo

,Unnamed: 0,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],...,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],stellar_metallicity_[dex],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr],nulltest
7,7,1RXS J160929.1-210524 b,1RXS J160929.1-210524,,330.000000,18.647,3000.00000,2.540000,,1700,...,4060.00,1.31,0.85,,139.1350000,1,,4.00,0.005,
11,11,2M0437 b,2MASS J04372171+2651014,,118.000000,13.000,1271.31363,3.180000,,1450,...,3100.00,0.84,0.17,0.010,128.4840000,1,,4.50,2.500,
12,12,2MASS J01033563-5515561 AB b,2MASS J01033563-5515561 A,,84.000000,12.300,4131.79000,12.200000,,,...,,,0.19,,47.2000000,1,,,0.030,
13,13,2MASS J01225093-2439505 b,2MASS J01225093-2439505,,52.000000,11.209,7786.50000,30.400000,,1600,...,3530.00,0.37,0.40,,33.8281000,1,,4.86,0.120,
14,14,2MASS J02192210-3925225 b,2MASS J02192210-3925225,,156.000000,16.141,4417.83700,5.770000,,,...,3064.00,0.28,0.11,,40.0896412,1,,4.59,0.035,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2905,2905,KMT-2021-BLG-1391L b,KMT-2021-BLG-1391L,,2.290000,1.970,4.55000,3.270000,,,...,,,0.37,,5720.0000000,1,,,,
2906,2906,KMT-2021-BLG-1554L b,KMT-2021-BLG-1554L,,0.720000,6.900,38.13941,0.638000,,,...,,,0.08,,7680.0000000,1,,,,
2907,2907,KMT-2021-BLG-1689L b,KMT-2021-BLG-1689L,,2.500000,7.710,46.00000,0.552000,,,...,4570.00,,0.58,,7200.0000000,1,,,,
2908,2908,KMT-2021-BLG-1898L b,KMT-2021-BLG-1898L,,1.900000,14.000,232.01474,0.465000,,,...,,,0.48,,6900.0000000,1,,,,
2909,2909,KMT-2021-BLG-2294L b,KMT-2021-BLG-2294L,,1.150000,5.020,22.24799,0.966000,,,...,,,0.14,,6800.0000000,1,,,,

In [105]:
filtered = nextdata[nextdata['Unnamed: 0'].isin(rows)]

In [127]:
filtered

,Unnamed: 0,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],...,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],stellar_metallicity_[dex],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr],nulltest
7,7,1RXS J160929.1-210524 b,1RXS J160929.1-210524,,330.000000,18.647,3000.00000,2.540000,,1700,...,4060.00,1.31,0.85,,139.1350000,1,,4.00,0.005,
11,11,2M0437 b,2MASS J04372171+2651014,,118.000000,13.000,1271.31363,3.180000,,1450,...,3100.00,0.84,0.17,0.010,128.4840000,1,,4.50,2.500,
12,12,2MASS J01033563-5515561 AB b,2MASS J01033563-5515561 A,,84.000000,12.300,4131.79000,12.200000,,,...,,,0.19,,47.2000000,1,,,0.030,
13,13,2MASS J01225093-2439505 b,2MASS J01225093-2439505,,52.000000,11.209,7786.50000,30.400000,,1600,...,3530.00,0.37,0.40,,33.8281000,1,,4.86,0.120,
14,14,2MASS J02192210-3925225 b,2MASS J02192210-3925225,,156.000000,16.141,4417.83700,5.770000,,,...,3064.00,0.28,0.11,,40.0896412,1,,4.59,0.035,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2905,2905,KMT-2021-BLG-1391L b,KMT-2021-BLG-1391L,,2.290000,1.970,4.55000,3.270000,,,...,,,0.37,,5720.0000000,1,,,,
2906,2906,KMT-2021-BLG-1554L b,KMT-2021-BLG-1554L,,0.720000,6.900,38.13941,0.638000,,,...,,,0.08,,7680.0000000,1,,,,
2907,2907,KMT-2021-BLG-1689L b,KMT-2021-BLG-1689L,,2.500000,7.710,46.00000,0.552000,,,...,4570.00,,0.58,,7200.0000000,1,,,,
2908,2908,KMT-2021-BLG-1898L b,KMT-2021-BLG-1898L,,1.900000,14.000,232.01474,0.465000,,,...,,,0.48,,6900.0000000,1,,,,
2909,2909,KMT-2021-BLG-2294L b,KMT-2021-BLG-2294L,,1.150000,5.020,22.24799,0.966000,,,...,,,0.14,,6800.0000000,1,,,,

In [128]:
nextdata.loc[filtered.index, 'orbital_period_[days]'] = rows2
#for i in range(210):
#    nextdata.loc[filtered.index[i], 'orbital_period_[days]'] = finaldata['predicted'][i]

In [131]:
nextdata['orbital_period_[days]'].value_counts()

3165.0796094172       44
134.06165454181053     5
272.4647131585786      5
156.67325744112287     5
378.9999783459997      5
                      ..
760.00000000           1
121.71000000           1
511.21000000           1
6.95900000             1
7.10730000             1
Name: orbital_period_[days], Length: 5150, dtype: int64

In [66]:
#ahora pongo los valores de predicted en orbital period donde orbital period es igual a ' '. ya tengo los index de los valores que quiero cambiar
nextdata.loc[algo.index, 'orbital_period_[days]'] = finaldata['predicted']

In [134]:
nextdata['orbital_period_[days]'] = nextdata['orbital_period_[days]'].replace(' ', np.nan)
nextdata['orbital_period_[days]'] = nextdata['orbital_period_[days]'].astype(float)

In [135]:
nextdata.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5265 entries, 0 to 5264
Data columns (total 21 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Unnamed: 0                                  5265 non-null   int64
 1   planet_name                                 5265 non-null   object
 2   host_name                                   5265 non-null   object
 3   orbital_period_[days]                       5261 non-null   float64
 4   orbit_semi-major_axis_[au])                 5265 non-null   object
 5   planet_radius                               5265 non-null   object
 6   planet_mass                                 5265 non-null   object
 7   planet_density                              5265 non-null   object
 8   eccentricity                                5265 non-null   object
 9   equilibrium_temperature_[k]                 5265 non-null   object
 10  ratio_of_semi-major_axis_to_stellar_radius  4993 non-null   float64
 11  stellar_effective_temperature_[k]           5265 non-null   object
 12  stellar_radius_[solar_radius]               5265 non-null   object
 13  stellar_mass_[solar_mass]                   5265 non-null   object
 14  stellar_metallicity_[dex]                   5265 non-null   object
 15  distance_[pc]                               5265 non-null   object
 16  number_of_planets                           5265 non-null   int64
 17  insolation_flux_earth                       5265 non-null   object
 18  stellar_surface_gravity                     5265 non-null   object
 19  stellar_age_[gyr]                           5265 non-null   object
 20  nulltest                                    5265 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 5.6 MB

In [136]:
nextdata['orbital_period_[days]'].value_counts()

3165.079609    44
134.061655      5
224.702089      5
297.540940      5
156.673257      5
               ..
760.000000      1
121.710000      1
511.210000      1
6.959000        1
7.107300        1
Name: orbital_period_[days], Length: 5149, dtype: int64

In [137]:
nextdata.drop(['Unnamed: 0', 'nulltest'], axis=1, inplace=True)

In [138]:
nextdata.to_csv('nextdata.csv')