In [94]:
import pandas  as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import selenium
import feedparser
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import requests as req
from bs4 import BeautifulSoup as bs    # ambos alias son cosa mia
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

In [158]:
def machinelearning(feature):
    global column
    global predictdataraw
    global predictdata
    column = pd.read_csv(f'{feature}_AI_onlyv.csv').drop(['Unnamed: 0'], axis=1)
    predictdataraw = pd.read_csv(f'{feature}_AI_prediction.csv')
    predictdata = pd.read_csv(f'{feature}_AI_prediction.csv').drop(['Unnamed: 0'], axis=1)

In [159]:
machinelearning('orbit_semi-major_axis_[au])')

In [160]:
predictdata.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 3 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   orbital_period_[days]        279 non-null    float64
 1   equilibrium_temperature_[k]  94 non-null     float64
 2   orbit_semi-major_axis_[au])  0 non-null      float64
dtypes: float64(3)
memory usage: 6.8 KB

In [161]:
predictdata.drop(['orbit_semi-major_axis_[au])'] ,axis=1, inplace=True)

In [162]:
predictdata.dropna(inplace=True)

In [163]:
predictdata.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94 entries, 2 to 256
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   orbital_period_[days]        94 non-null     float64
 1   equilibrium_temperature_[k]  94 non-null     float64
dtypes: float64(2)
memory usage: 2.2 KB

In [164]:
column.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3788 entries, 0 to 3787
Data columns (total 3 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   orbital_period_[days]        3788 non-null   float64
 1   equilibrium_temperature_[k]  3788 non-null   float64
 2   orbit_semi-major_axis_[au])  3788 non-null   float64
dtypes: float64(3)
memory usage: 88.9 KB

In [165]:
X = column.drop(['orbit_semi-major_axis_[au])'],axis=1)
y = column['orbit_semi-major_axis_[au])']

In [166]:
X

      orbital_period_[days]  equilibrium_temperature_[k]
0               3165.079609                       1700.0
1               3165.079609                       1450.0
2               3165.079609                       1600.0
3               3165.079609                       1250.0
4              11688.000000                        700.0
...                     ...                          ...
3783              11.094286                        835.0
3784               6.252972                        823.0
3785              16.068638                        600.0
3786              41.194912                        439.0
3787               7.107300                       1157.0

[3788 rows x 2 columns]

In [167]:
y

0       330.000
1       118.000
2        52.000
3        55.000
4        13.200
         ...
3783      0.101
3784      0.062
3785      0.117
3786      0.220
3787      0.075
Name: orbit_semi-major_axis_[au]), Length: 3788, dtype: float64

In [168]:
def modelexecution(X, y, depth):
    X = StandardScaler().fit_transform(X)
    global y_test
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    global model1
    model1 = RandomForestRegressor(n_estimators=200, max_depth=depth, random_state=42)
    model1.fit(X_train, y_train)
    global y_pred_rf
    y_pred_rf = model1.predict(X_test)
    global MSE_RF
    MSE_RF = mean_squared_error(y_test, y_pred_rf, squared=False)
    global model2
    model2 = LinearRegression()
    model2.fit(X_train, y_train)
    global y_pred_lr
    y_pred_lr = model2.predict(X_test)
    global MSE_LR
    MSE_LR = mean_squared_error(y_test, y_pred_lr, squared=False)
    return MSE_LR, MSE_RF, y_test

In [169]:
modelexecution(X, y, 6)

(132.42256130513616,
 78.41447889370602,
 1580    0.1138
 2256    0.0610
 263     0.0350
 2922    0.0471
 1697    0.0374
          ...
 3526    0.1160
 734     0.0626
 505     0.0694
 1878    0.0761
 2233    0.0920
 Name: orbit_semi-major_axis_[au]), Length: 758, dtype: float64)

In [170]:
y_test[720:729]

217     0.05367
1779    0.06660
1159    0.03670
1497    0.14670
857     0.31040
1927    0.08060
2227    0.25700
3095    0.18620
2644    0.19690
Name: orbit_semi-major_axis_[au]), dtype: float64

In [171]:
mean = column['orbit_semi-major_axis_[au])'].mean()
mean

7.089602380939803

In [172]:
for i in y_pred_rf[720:729]:
    print('{:.2f}'.format(i))

0.05
0.05
0.06
0.12
0.39
0.09
0.21
0.12
0.12

In [174]:
final_pred = model1.predict(predictdata)

In [178]:
for i in final_pred[:10]:
    print('{:.2f}'.format(i))

288.65
288.65
288.65
288.65
288.65
288.65
288.65
288.65
288.65
288.65

In [183]:
predictdataraw

,Unnamed: 0,orbital_period_[days],equilibrium_temperature_[k],orbit_semi-major_axis_[au]),nulltest
0,77,8.989100,NaN,NaN,True
1,113,8.966000,NaN,NaN,True
2,127,8.138268,850.0,NaN,True
3,129,28.165600,NaN,NaN,True
4,130,0.720910,NaN,NaN,True
...,...,...,...,...,...
278,3518,3000.000000,NaN,NaN,True
279,3949,122.400000,NaN,NaN,True
280,4827,11.280000,NaN,NaN,True
281,5073,28.731000,NaN,NaN,True
282,5074,62.950000,NaN,NaN,True

In [184]:
predictdataraw['nulltest'] = predictdataraw['equilibrium_temperature_[k]'].isnull()
algo = predictdataraw[predictdataraw['nulltest'] == True]
len(algo)

189

In [185]:
predictdataraw.drop(algo.index, inplace=True)

In [186]:
predictdataraw['predicted'] = final_pred

In [187]:
predictdataraw

,Unnamed: 0,orbital_period_[days],equilibrium_temperature_[k],orbit_semi-major_axis_[au]),nulltest,predicted
2,127,8.138268,850.0,NaN,False,288.6525
6,132,0.877214,1874.0,NaN,False,288.6525
10,138,8.050722,961.0,NaN,False,288.6525
20,150,2.289363,1149.0,NaN,False,288.6525
21,151,5.213965,866.0,NaN,False,288.6525
...,...,...,...,...,...,...
205,2681,3.114905,957.0,NaN,False,288.6525
232,2711,3.312792,1300.0,NaN,False,288.6525
244,2723,0.759978,2529.0,NaN,False,288.6525
250,2730,3.435471,969.0,NaN,False,288.6525
256,2744,2.198884,1094.0,NaN,False,288.6525

In [188]:
finaldata = predictdataraw[['Unnamed: 0', 'predicted']]

In [189]:
finaldata

     Unnamed: 0  predicted
2           127   288.6525
6           132   288.6525
10          138   288.6525
20          150   288.6525
21          151   288.6525
..          ...        ...
205        2681   288.6525
232        2711   288.6525
244        2723   288.6525
250        2730   288.6525
256        2744   288.6525

[94 rows x 2 columns]

In [191]:
rows = list(finaldata['Unnamed: 0'])
rows2 = list(finaldata['predicted'])

In [196]:
nextdata = pd.read_csv('nextdata.csv')

In [197]:
nextdata

,Unnamed: 0,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],ratio_of_semi-major_axis_to_stellar_radius,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],stellar_metallicity_[dex],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr]
0,0,11 Com b,11 Com,326.030000,1.290000,12.100,6165.60000,19.100000,0.231000,,14.599543,4742.00,19.00,2.70,-0.350,93.1846000,1,,2.31,
1,1,11 UMi b,11 UMi,516.219970,1.530000,12.300,4684.81420,13.800000,0.080000,,11.043941,4213.00,29.79,2.78,-0.020,125.3210000,1,,1.93,1.560
2,2,14 And b,14 And,185.840000,0.830000,12.900,1525.50000,3.900000,0.000000,,16.225144,4813.00,11.00,2.20,-0.240,75.4392000,1,,2.63,4.500
3,3,14 Her b,14 Her,1765.038901,2.773069,12.600,2586.74645,7.110000,0.372689,,641.181348,5338.00,0.93,0.91,0.405,17.9323000,2,,4.45,3.900
4,4,16 Cyg B b,16 Cyg B,798.500000,1.660000,13.500,565.73740,1.260000,0.680000,,315.887759,5750.00,1.13,1.08,0.060,21.1397000,1,,4.36,7.400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5260,5260,Kepler-228 d,Kepler-228,11.094286,0.101000,4.040,15.40000,1.280000,0.000000,835,10.900000,6043.00,1.01,0.95,-0.030,1644.6100000,3,122.78,4.47,0.300
5261,5261,Kepler-229 b,Kepler-229,6.252972,0.062000,2.200,5.48000,2.830000,0.000000,823,18.940000,5120.00,0.73,0.80,0.160,826.2650000,3,76.22,4.63,1.100
5262,5262,Kepler-229 c,Kepler-229,16.068638,0.117000,4.920,21.50000,0.992000,0.000000,600,36.850000,5120.00,0.73,0.80,0.160,826.2650000,3,21.64,4.63,1.100
5263,5263,Kepler-229 d,Kepler-229,41.194912,0.220000,3.850,14.20000,1.370000,0.000000,439,70.750000,5120.00,0.73,0.80,0.160,826.2650000,3,6.16,4.63,1.100
5264,5264,Kepler-23 b,Kepler-23,7.107300,0.075000,1.900,254.30000,,0.060000,1157,10.643000,5760.00,1.52,1.11,-0.090,835.7560000,3,446.11,4.00,6.000

In [198]:
nextdata['nulltest'] = nextdata['orbit_semi-major_axis_[au])'].str[:]
algo  = nextdata[nextdata['nulltest'] == ' ']
algo

,Unnamed: 0,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],...,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],stellar_metallicity_[dex],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr],nulltest
77,77,CI Tau b,CI Tau,8.989100,,12.400,3686.82800,10.600000,0.250000,,...,3807.00,1.88,0.90,,157.9980000,1,,,0.003,
113,113,CoRoT-7 d,CoRoT-7,8.966000,,4.310,17.14200,1.180000,,,...,5250.00,0.84,0.92,0.020,159.9060000,3,,4.57,1.800,
127,127,DS Tuc A b,DS Tuc A,8.138268,,5.700,413.17900,,0.000000,850,...,5428.00,0.96,1.01,0.000,44.0622000,1,115.83,4.60,0.045,
129,129,EPIC 201238110 b,EPIC 201238110,28.165600,,1.870,4.16000,3.500000,,,...,3587.00,0.37,0.41,,159.2590000,1,,4.78,,
130,130,EPIC 201427007 b,EPIC 201427007,0.720910,,1.500,2.86000,4.660000,,,...,5633.00,0.94,0.93,-0.053,706.3910000,1,,4.40,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3518,3518,Kepler-407 c,Kepler-407,3000.000000,,12.300,4000.00000,11.800000,,,...,5476.00,1.01,1.00,0.330,338.3680000,2,,4.43,7.470,
3949,3949,Kepler-25 d,Kepler-25,122.400000,,10.000,71.90000,0.395000,0.130000,,...,6270.00,1.32,1.17,-0.040,243.2490000,3,,4.28,11.000,
4827,4827,Kepler-1705 c,Kepler-1705,11.280000,,2.050,5.42000,3.528714,0.028000,,...,6312.00,1.26,1.14,-0.200,1633.4900000,2,,4.30,2.590,
5073,5073,Kepler-19 c,Kepler-19,28.731000,,3.680,13.10000,1.440000,0.210000,,...,5544.00,0.86,0.94,-0.080,218.5620000,3,,4.51,1.900,
5074,5074,Kepler-19 d,Kepler-19,62.950000,,5.060,22.50000,0.954000,0.050000,,...,5544.00,0.86,0.94,-0.080,218.5620000,3,,4.51,1.900,

In [199]:
filtered = nextdata[nextdata['Unnamed: 0'].isin(rows)]
filtered

,Unnamed: 0,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],...,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],stellar_metallicity_[dex],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr],nulltest
127,127,DS Tuc A b,DS Tuc A,8.138268,,5.700,413.17900,,0.000000,850,...,5428.00,0.96,1.01,0.000,44.0622000,1,115.83,4.60,0.045,
132,132,EPIC 201595106 b,EPIC 201595106,0.877214,,1.300,2.24000,5.600000,,1874,...,5820.00,0.93,1.02,-0.010,232.1000000,1,,4.60,,
138,138,EPIC 205950854 c,K2-168,8.050722,,1.310,2.27000,5.550000,,961,...,5502.70,0.83,0.88,-0.130,243.9350000,2,,4.39,,
150,150,EPIC 212297394 b,EPIC 212297394,2.289363,,1.480,2.79000,4.730000,,1149,...,5171.00,0.80,0.83,-0.030,418.3950000,2,,4.55,,
151,151,EPIC 212297394 c,EPIC 212297394,5.213965,,2.270,5.77000,2.710000,,866,...,5171.00,0.80,0.83,-0.030,418.3950000,2,,4.55,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2681,2681,K2-371 b,K2-371,3.114905,,13.024,,,,957,...,4925.00,0.74,0.96,-0.107,442.8130000,1,198.09,4.68,,
2711,2711,K2-390 b,K2-390,3.312792,,4.662,19.60000,1.060000,,1300,...,5558.00,0.97,0.79,-0.116,456.1220000,1,474.71,4.37,,
2723,2723,K2-399 b,K2-399,0.759978,,6.049,30.50000,0.757000,,2529,...,5690.00,1.54,0.78,0.252,515.4910000,1,9668.66,3.96,,
2730,2730,K2-405 b,K2-405,3.435471,,4.569,18.90000,1.090000,,969,...,4927.00,0.77,1.03,0.132,197.2340000,1,146.58,4.69,,
2744,2744,K2-43 c,K2-43,2.198884,,2.420,6.44000,2.500000,,1094,...,3840.60,0.54,0.57,,182.5360000,2,,4.68,,

In [200]:
nextdata.loc[filtered.index, 'orbit_semi-major_axis_[au])'] = rows2

In [201]:
nextdata['orbit_semi-major_axis_[au])'] = nextdata['orbit_semi-major_axis_[au])'].replace(' ', np.nan)
nextdata['orbit_semi-major_axis_[au])'] = nextdata['orbit_semi-major_axis_[au])'].astype(float)

In [204]:
nextdata.info( memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5265 entries, 0 to 5264
Data columns (total 21 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Unnamed: 0                                  5265 non-null   int64
 1   planet_name                                 5265 non-null   object
 2   host_name                                   5265 non-null   object
 3   orbital_period_[days]                       5261 non-null   float64
 4   orbit_semi-major_axis_[au])                 5076 non-null   float64
 5   planet_radius                               5265 non-null   object
 6   planet_mass                                 5265 non-null   object
 7   planet_density                              5265 non-null   object
 8   eccentricity                                5265 non-null   object
 9   equilibrium_temperature_[k]                 5265 non-null   object
 10  ratio_of_semi-major_axis_to_stellar_radius  4993 non-null   float64
 11  stellar_effective_temperature_[k]           5265 non-null   object
 12  stellar_radius_[solar_radius]               5265 non-null   object
 13  stellar_mass_[solar_mass]                   5265 non-null   object
 14  stellar_metallicity_[dex]                   5265 non-null   object
 15  distance_[pc]                               5265 non-null   object
 16  number_of_planets                           5265 non-null   int64
 17  insolation_flux_earth                       5265 non-null   object
 18  stellar_surface_gravity                     5265 non-null   object
 19  stellar_age_[gyr]                           5265 non-null   object
 20  nulltest                                    5265 non-null   object
dtypes: float64(3), int64(2), object(16)
memory usage: 5.3 MB

In [207]:
nextdata.drop(['Unnamed: 0', 'nulltest'], axis=1, inplace=True)

In [209]:
nextdata.to_csv('nextdata.csv')

In [210]:
nextdata.to_csv('osma_ml_backup.csv')