In [2]:
import pandas  as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
analyze = pd.read_csv('REALdata.csv')

In [4]:
analyze = analyze.drop(columns=['Unnamed: 0'])

In [5]:
analyze

,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],ratio_of_semi-major_axis_to_stellar_radius,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr]
0,11 Com b,11 Com,326.030000,1.290000,12.10,6165.60000,19.100,0.231000,NaN,14.599543,4742.0,19.00,2.70,93.1846,1,NaN,2.31,NaN
1,11 UMi b,11 UMi,516.219970,1.530000,12.30,4684.81420,13.800,0.080000,NaN,11.043941,4213.0,29.79,2.78,125.3210,1,NaN,1.93,1.56
2,14 And b,14 And,185.840000,0.830000,12.90,1525.50000,3.900,0.000000,NaN,16.225144,4813.0,11.00,2.20,75.4392,1,NaN,2.63,4.50
3,14 Her b,14 Her,1765.038901,2.773069,12.60,2586.74645,7.110,0.372689,NaN,641.181348,5338.0,0.93,0.91,17.9323,2,NaN,4.45,3.90
4,16 Cyg B b,16 Cyg B,798.500000,1.660000,13.50,565.73740,1.260,0.680000,NaN,315.887759,5750.0,1.13,1.08,21.1397,1,NaN,4.36,7.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5260,Kepler-228 d,Kepler-228,11.094286,0.101000,4.04,15.40000,1.280,0.000000,835.0,10.900000,6043.0,1.01,0.95,1644.6100,3,122.78,4.47,0.30
5261,Kepler-229 b,Kepler-229,6.252972,0.062000,2.20,5.48000,2.830,0.000000,823.0,18.940000,5120.0,0.73,0.80,826.2650,3,76.22,4.63,1.10
5262,Kepler-229 c,Kepler-229,16.068638,0.117000,4.92,21.50000,0.992,0.000000,600.0,36.850000,5120.0,0.73,0.80,826.2650,3,21.64,4.63,1.10
5263,Kepler-229 d,Kepler-229,41.194912,0.220000,3.85,14.20000,1.370,0.000000,439.0,70.750000,5120.0,0.73,0.80,826.2650,3,6.16,4.63,1.10
5264,Kepler-23 b,Kepler-23,7.107300,0.075000,1.90,254.30000,NaN,0.060000,1157.0,10.643000,5760.0,1.52,1.11,835.7560,3,446.11,4.00,6.00

In [5]:
analyze['Datetest'] = analyze['planet_radius'].str[:2]
analyze['datatest2'] = analyze['planet_mass'].str[:2]
analyze['datatest3'] = analyze['equilibrium_temperature_[k]'].str[0]
# crea una variable que guarda las filas que tienen '1' en la columna 'Datetest' y '1' en la columna 'datatest2' como condicion
algo = analyze[(analyze['Datetest'] == '1.') & (analyze['datatest2'] == '1.') & (analyze['datatest3'] == '2')]
print(len(algo))
algo

14

,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],ratio_of_semi-major_axis_to_stellar_radius,...,stellar_mass_[solar_mass],stellar_metallicity_[dex],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr],Datetest,datatest2,datatest3
174,GJ 1002 b,GJ 1002,10.34650000,0.045700,1.030,1.08000,5.430000,,231,,...,0.12,-0.250,4.8486700,2,0.67,5.10,,1.,1.,2
1179,Wolf 1069 b,Wolf 1069,15.56400000,0.067200,1.080,1.26000,5.500000,,250,,...,0.17,0.070,9.5834100,1,0.65,4.93,,1.,1.,2
1398,TRAPPIST-1 f,TRAPPIST-1,9.20754000,0.038490,1.045,1.03900,5.022904,0.010070,218,69.543000,...,0.09,0.040,12.4298888,7,0.37,5.24,0.500,1.,1.,2
1425,TOI-700 d,TOI-700,37.42396000,0.163300,1.073,1.25000,5.560000,0.042000,269,82.900000,...,0.42,-0.070,31.1265000,4,0.85,4.81,1.500,1.,1.,2
1438,TOI-561 b,TOI-561,0.44657800,0.010550,1.423,1.59000,3.000000,0.000000,2480,2.646000,...,0.79,-0.330,85.7990000,5,4383.42,4.47,5.000,1.,1.,2
1662,Proxima Cen b,Proxima Cen,11.18680000,0.048560,1.030,1.07000,5.380000,0.020000,234,,...,0.12,,1.3011900,1,0.65,5.16,,1.,1.,2
1949,Kepler-929 b,Kepler-929,0.92103214,0.019200,1.110,1.41000,5.670000,0.000000,2362,2.862300,...,1.01,-0.040,1311.2300000,1,8159.93,4.42,3.470,1.,1.,2
2147,Kepler-78 b,Kepler-78,0.35500744,,1.121,1.96716,5.260000,0.000000,2250,2.660000,...,0.84,-0.140,124.3760000,1,,4.60,0.625,1.,1.,2
2158,Kepler-770 c,Kepler-770,1.47532231,0.030900,1.200,1.87000,5.950000,0.000000,2740,4.913000,...,0.94,-0.010,930.4570000,3,833.59,4.49,4.570,1.,1.,2
3469,Kepler-438 b,Kepler-438,35.23319000,0.166000,1.120,1.46000,5.710000,0.030000,288,73.000000,...,0.54,0.160,195.9428717,1,1.40,4.74,4.400,1.,1.,2
4269,Kepler-1288 b,Kepler-1288,2.76122421,0.043500,1.120,1.46000,5.710000,0.000000,2017,2.560000,...,1.20,0.140,814.0780000,1,3906.36,4.29,2.880,1.,1.,2
4599,Kepler-1531 b,Kepler-1531,1.13854338,0.022000,1.110,1.41000,5.670000,0.000000,2537,4.151000,...,1.16,-0.030,666.3340000,1,9805.45,4.29,2.820,1.,1.,2
4674,Kepler-1589 b,Kepler-1589,0.99166527,0.020500,1.090,1.32000,5.600000,0.000000,2102,3.192000,...,1.18,0.080,1513.1400000,1,5228.78,4.32,2.750,1.,1.,2
4752,Kepler-1649 c,Kepler-1649,19.53527000,0.064900,1.060,1.20000,5.540000,0.000000,234,76.800000,...,0.20,-0.150,92.1913000,2,0.75,5.00,,1.,1.,2

In [10]:
analyze['nulltest'] = analyze['planet_name'].str[:12]
algo  = analyze[analyze['nulltest'] == 'TRAPPIST-1 e']
algo

,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],ratio_of_semi-major_axis_to_stellar_radius,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr],nulltest
1399,TRAPPIST-1 e,TRAPPIST-1,6.101013,0.02925,0.92,0.692,4.901605,0.0051,250.0,52.855,2566.0,0.12,0.09,12.429889,7,0.65,5.24,0.5,TRAPPIST-1 e

In [97]:
euclidean = pd.read_csv('FINAL_ML_con_TIERRA.csv')

In [126]:
euclidean[euclidean['Unnamed: 0'] == 1662]

,Unnamed: 0,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],ratio_of_semi-major_axis_to_stellar_radius,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr]
1662,1662,Proxima Cen b,Proxima Cen,11.1868,0.04856,1.03,1.07,5.38,0.02,234.0,74.585395,2900.0,0.14,0.12,1.30119,1,0.65,5.16,0.366293

In [99]:
euclidean_test = euclidean.drop(columns=['orbit_semi-major_axis_[au])', 'insolation_flux_earth', 'orbital_period_[days]', 'Unnamed: 0', 'planet_name', 'host_name', 'ratio_of_semi-major_axis_to_stellar_radius', 'stellar_effective_temperature_[k]', 'stellar_radius_[solar_radius]', 'stellar_mass_[solar_mass]', 'distance_[pc]', 'number_of_planets', 'stellar_surface_gravity', 'stellar_age_[gyr]'])
euclidean_test.dropna(inplace=True)

In [100]:
euclidean_test.drop('orbital_period_[days]', axis=1, inplace=True)

In [101]:
euclidean_test.drop('orbital_period_[days]', axis=1, inplace=True)
euclidean_test.drop('orbit_semi-major_axis_[au])', axis=1, inplace=True)
euclidean_test.dropna(inplace=True)
euclidean_test.drop('insolation_flux_earth', axis=1, inplace=True)

In [103]:
euclidean_test.dropna(inplace=True)

In [102]:
euclidean_test.drop('insolation_flux_earth', axis=1, inplace=True)

In [86]:
euclidean_test = euclidean_test.drop(euclidean_test.index[-1])

In [125]:
euclidean_test.iloc[1582]

planet_radius                    1.03
planet_mass                      1.07
planet_density                   5.38
eccentricity                     0.02
equilibrium_temperature_[k]    234.00
Name: 1662, dtype: float64

In [106]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
standardized_euclidean = scaler.fit_transform(euclidean_test)

In [107]:
standardized_euclidean

array([[3.54431900e-01, 1.34914140e-01, 1.47832895e-02, 5.10437753e-01,
        6.95522821e-02],
       [3.60437185e-01, 1.02511806e-01, 1.06746669e-02, 4.07622872e-01,
        6.95522821e-02],
       [3.78453039e-01, 3.33801623e-02, 3.00006977e-03, 3.53151412e-01,
        6.95522821e-02],
       ...,
       [1.06713908e-01, 3.10120537e-04, 1.03878385e-03, 3.53151412e-01,
        1.00846614e-01],
       [4.81623829e-02, 5.56395302e-03, 2.70878000e-02, 3.94005007e-01,
        2.79631474e-01],
       [2.11386020e-02, 2.12801003e-05, 4.25591293e-03, 3.64522330e-01,
        5.50298805e-02]])

In [108]:
earth = standardized_euclidean[-1].reshape(1, -1)

In [109]:
from sklearn.metrics import euclidean_distances
distances = euclidean_distances(standardized_euclidean, earth)

In [110]:
len(distances)

4846

In [111]:
distances[:15]

array([[0.38845018],
       [0.35740396],
       [0.35934412],
       [0.42831165],
       [0.58754626],
       [0.36007986],
       [0.3555434 ],
       [0.64395168],
       [0.38806568],
       [0.37620561],
       [0.43002666],
       [0.46826858],
       [0.48544391],
       [0.4363443 ],
       [0.42945942]])

In [112]:
min(distances)

array([0.])

In [113]:
min(distances)
np.argmin(distances)

4845

In [157]:
for index, v in enumerate(distances):
    if v in sorted_distances[1]:
        print(index)

1582

In [118]:
sorted_distances = np.sort(distances, axis=0)

In [119]:
sorted_distances

array([[0.        ],
       [0.00576327],
       [0.00836267],
       ...,
       [1.12305414],
       [1.154686  ],
       [1.20464144]])

In [128]:
closest_planets = [143,
1123,
1320,
1332,
1333,
1334,
1582,
3057,
4335,
4845]

In [203]:
planets = euclidean_test.iloc[1332]

In [140]:
planets = planets.index.to_list()

In [204]:
planets

planet_radius                    1.045000
planet_mass                      1.039000
planet_density                   5.022904
eccentricity                     0.010070
equilibrium_temperature_[k]    218.000000
Name: 1398, dtype: float64

In [142]:
euclidean.iloc[planets]

,Unnamed: 0,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],ratio_of_semi-major_axis_to_stellar_radius,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr]
174,174,GJ 1002 b,GJ 1002,10.346500,0.04570,1.030,1.080,5.430000,0.00000,231.000000,70.192598,3024.0,0.14,0.12,4.848670,2,0.67,5.1000,0.366293
1179,1179,Wolf 1069 b,Wolf 1069,15.564000,0.06720,1.080,1.260,5.500000,0.00000,250.000000,80.278624,3158.0,0.18,0.17,9.583410,1,0.65,4.9300,0.245118
1385,1385,Teegarden's Star c,Teegarden's Star,11.409000,0.04430,1.040,1.110,5.420000,0.00000,295.390586,86.599263,2904.0,0.11,0.09,3.830780,2,0.37,5.2700,8.000000
1398,1398,TRAPPIST-1 f,TRAPPIST-1,9.207540,0.03849,1.045,1.039,5.022904,0.01007,218.000000,69.543000,2566.0,0.12,0.09,12.429889,7,0.37,5.2400,0.500000
1399,1399,TRAPPIST-1 e,TRAPPIST-1,6.101013,0.02925,0.920,0.692,4.901605,0.00510,250.000000,52.855000,2566.0,0.12,0.09,12.429889,7,0.65,5.2400,0.500000
1400,1400,TRAPPIST-1 d,TRAPPIST-1,4.049219,0.02227,0.788,0.388,4.366784,0.00837,286.000000,40.216000,2566.0,0.12,0.09,12.429889,7,1.11,5.2400,0.500000
1662,1662,Proxima Cen b,Proxima Cen,11.186800,0.04856,1.030,1.070,5.380000,0.02000,234.000000,74.585395,2900.0,0.14,0.12,1.301190,1,0.65,5.1600,0.366293
3469,3469,Kepler-438 b,Kepler-438,35.233190,0.16600,1.120,1.460,5.710000,0.03000,288.000000,73.000000,3748.0,0.52,0.54,195.942872,1,1.40,4.7400,4.400000
4752,4752,Kepler-1649 c,Kepler-1649,19.535270,0.06490,1.060,1.200,5.540000,0.00000,234.000000,76.800000,3240.0,0.23,0.20,92.191300,2,0.75,5.0000,0.251718
5265,5265,Earth,Sun,365.250000,1.00000,1.000,1.000,5.520000,0.01670,255.000000,215.000000,5780.0,1.00,1.00,0.000000,8,1.00,4.4378,4.600000

In [ ]:
EPIC 206042996 b
ups And d
WASP-150 b
WASP-138 b
WASP-136 b
WASP-135 b
TOI-1516 b
Kepler-1076 b
Kepler-1333 b
Kepler-172 d

In [185]:
euclidean_test

,planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k]
0,12.10,6165.60000,19.100000,0.231000,313.321965
1,12.30,4684.81420,13.800000,0.080000,313.321965
2,12.90,1525.50000,3.900000,0.000000,313.321965
3,12.60,2586.74645,7.110000,0.372689,308.484799
4,13.50,565.73740,1.260000,0.680000,311.602502
...,...,...,...,...,...
5261,2.20,5.48000,2.830000,0.000000,823.000000
5262,4.92,21.50000,0.992000,0.000000,600.000000
5263,3.85,14.20000,1.370000,0.000000,439.000000
5264,1.90,254.30000,34.972449,0.060000,1157.000000
5265,1.00,1.00000,5.520000,0.016700,255.000000

euc

In [143]:
euclidean_sinml = pd.read_csv('REALdata.csv')

In [144]:
euclidean_sinml

,Unnamed: 0,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],ratio_of_semi-major_axis_to_stellar_radius,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr]
0,0,11 Com b,11 Com,326.030000,1.290000,12.10,6165.60000,19.100,0.231000,NaN,14.599543,4742.0,19.00,2.70,93.1846,1,NaN,2.31,NaN
1,1,11 UMi b,11 UMi,516.219970,1.530000,12.30,4684.81420,13.800,0.080000,NaN,11.043941,4213.0,29.79,2.78,125.3210,1,NaN,1.93,1.56
2,2,14 And b,14 And,185.840000,0.830000,12.90,1525.50000,3.900,0.000000,NaN,16.225144,4813.0,11.00,2.20,75.4392,1,NaN,2.63,4.50
3,3,14 Her b,14 Her,1765.038901,2.773069,12.60,2586.74645,7.110,0.372689,NaN,641.181348,5338.0,0.93,0.91,17.9323,2,NaN,4.45,3.90
4,4,16 Cyg B b,16 Cyg B,798.500000,1.660000,13.50,565.73740,1.260,0.680000,NaN,315.887759,5750.0,1.13,1.08,21.1397,1,NaN,4.36,7.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5260,5260,Kepler-228 d,Kepler-228,11.094286,0.101000,4.04,15.40000,1.280,0.000000,835.0,10.900000,6043.0,1.01,0.95,1644.6100,3,122.78,4.47,0.30
5261,5261,Kepler-229 b,Kepler-229,6.252972,0.062000,2.20,5.48000,2.830,0.000000,823.0,18.940000,5120.0,0.73,0.80,826.2650,3,76.22,4.63,1.10
5262,5262,Kepler-229 c,Kepler-229,16.068638,0.117000,4.92,21.50000,0.992,0.000000,600.0,36.850000,5120.0,0.73,0.80,826.2650,3,21.64,4.63,1.10
5263,5263,Kepler-229 d,Kepler-229,41.194912,0.220000,3.85,14.20000,1.370,0.000000,439.0,70.750000,5120.0,0.73,0.80,826.2650,3,6.16,4.63,1.10
5264,5264,Kepler-23 b,Kepler-23,7.107300,0.075000,1.90,254.30000,NaN,0.060000,1157.0,10.643000,5760.0,1.52,1.11,835.7560,3,446.11,4.00,6.00

In [148]:
euclidean_sinml = euclidean_sinml.drop(columns=['Unnamed: 0'])

In [150]:
euclidean_sinmltest = euclidean_sinml.drop(columns=['Unnamed: 0', 'insolation_flux_earth', 'orbit_semi-major_axis_[au])', 'orbital_period_[days]', 'planet_name', 'host_name', 'ratio_of_semi-major_axis_to_stellar_radius', 'stellar_effective_temperature_[k]', 'stellar_radius_[solar_radius]', 'stellar_mass_[solar_mass]', 'distance_[pc]', 'number_of_planets', 'stellar_surface_gravity', 'stellar_age_[gyr]'])

In [154]:
euclidean_sinmltest.drop('orbital_period_[days]', axis=1, inplace=True)
euclidean_sinmltest.drop('orbit_semi-major_axis_[au])', axis=1, inplace=True)
euclidean_sinmltest.dropna(inplace=True)
euclidean_sinmltest.drop('insolation_flux_earth', axis=1, inplace=True)

In [155]:
euclidean_sinmltest.dropna(inplace=True)

In [156]:
euclidean_sinmltest

,planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k]
30,1.875,7.990,6.660,0.050,1958.0
46,4.070,20.120,1.320,0.186,593.0
73,1.820,3.950,3.600,0.000,464.0
80,16.700,327.350,0.380,0.000,1898.0
83,16.140,291.438,0.411,0.070,1442.0
...,...,...,...,...,...
5259,2.700,7.750,2.160,0.000,1160.0
5260,4.040,15.400,1.280,0.000,835.0
5261,2.200,5.480,2.830,0.000,823.0
5262,4.920,21.500,0.992,0.000,600.0
5263,3.850,14.200,1.370,0.000,439.0

In [160]:
standard_sinml = scaler.fit_transform(euclidean_sinmltest)

In [161]:
distances_sinml = euclidean_distances(standard_sinml, earth)

In [162]:
distances_sinml

array([[0.52104472],
       [0.22706295],
       [0.36918804],
       ...,
       [0.39137356],
       [0.4120072 ],
       [0.38891604]])

In [163]:
print(min(distances))
np.argmin(distances)

[0.]

4845

In [164]:
sorted_sinml = np.sort(distances_sinml, axis=0)

In [167]:
for index, v in enumerate(distances_sinml):
    if v in sorted_sinml[:10]:
        print(index)

231
733
1695
1703
2029
2030
2031
2032
2033
2517

In [165]:
sorted_sinml

array([[0.0333    ],
       [0.04531435],
       [0.05102157],
       ...,
       [1.22993271],
       [1.34061335],
       [1.36560405]])

In [168]:
toptenindex = [231,
733,
1695,
1703,
2029,
2030,
2031,
2032,
2033,
2517]

In [180]:
planets = euclidean_sinmltest.iloc[toptenindex]

In [181]:
planets = planets.index.to_list()

In [182]:
planets

[912, 1895, 3458, 3466, 3813, 3814, 3815, 3816, 3817, 4312]

In [183]:
euclidean_sinml.iloc[planets]

,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],ratio_of_semi-major_axis_to_stellar_radius,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr]
912,HD 238090 b,HD 238090,13.671000,0.0932,2.520,6.890,2.37,0.30,470.0,35.159623,3933.0,0.57,0.58,15.2354,1,8.10,4.70,NaN
1895,Kepler-970 b,Kepler-970,16.736525,0.1390,2.609,7.310,2.26,0.34,464.0,42.200000,4290.0,0.71,0.67,331.5450,1,11.11,4.62,0.105
3458,Kepler-444 f,Kepler-444,9.740486,0.0811,0.741,0.332,4.48,0.29,673.0,23.205000,5046.0,0.75,0.76,36.4396,5,59.91,4.56,11.230
3466,Kepler-440 b,Kepler-440,101.111410,0.2420,1.860,4.120,3.52,0.34,229.0,99.000000,4134.0,0.56,0.57,301.0300,1,1.20,4.71,1.300
3813,Kepler-296 f,Kepler-296,63.336270,0.2550,1.800,3.890,3.20,0.33,274.0,115.100000,3740.0,0.48,0.50,167.0000,5,0.62,4.77,4.200
3814,Kepler-296 e,Kepler-296,34.142110,0.1690,1.530,2.960,4.10,0.33,337.0,76.200000,3740.0,0.48,0.50,167.0000,5,1.41,4.77,4.200
3815,Kepler-296 d,Kepler-296,19.850291,0.1180,2.090,5.020,1.90,0.33,403.0,53.100000,3740.0,0.48,0.50,167.0000,5,2.90,4.77,13.900
3816,Kepler-296 c,Kepler-296,5.841637,0.0521,2.000,4.660,1.20,0.33,606.0,23.500000,3740.0,0.48,0.50,167.0000,5,14.80,4.77,13.900
3817,Kepler-296 b,Kepler-296,10.864384,0.0790,1.610,3.220,3.00,0.33,495.0,35.500000,3740.0,0.48,0.50,167.0000,5,6.50,4.77,13.900
4312,Kepler-1319 b,Kepler-1319,2.886763,0.0296,1.340,2.360,5.39,0.33,557.0,25.300000,3655.0,0.54,0.56,103.9170,1,38.45,4.73,5.370

In [186]:
euclidean_test

,planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k]
0,12.10,6165.60000,19.100000,0.231000,313.321965
1,12.30,4684.81420,13.800000,0.080000,313.321965
2,12.90,1525.50000,3.900000,0.000000,313.321965
3,12.60,2586.74645,7.110000,0.372689,308.484799
4,13.50,565.73740,1.260000,0.680000,311.602502
...,...,...,...,...,...
5261,2.20,5.48000,2.830000,0.000000,823.000000
5262,4.92,21.50000,0.992000,0.000000,600.000000
5263,3.85,14.20000,1.370000,0.000000,439.000000
5264,1.90,254.30000,34.972449,0.060000,1157.000000
5265,1.00,1.00000,5.520000,0.016700,255.000000

In [191]:
standardized_euclidean

array([[3.54431900e-01, 1.34914140e-01, 1.47832895e-02, 5.10437753e-01,
        6.95522821e-02],
       [3.60437185e-01, 1.02511806e-01, 1.06746669e-02, 4.07622872e-01,
        6.95522821e-02],
       [3.78453039e-01, 3.33801623e-02, 3.00006977e-03, 3.53151412e-01,
        6.95522821e-02],
       ...,
       [1.06713908e-01, 3.10120537e-04, 1.03878385e-03, 3.53151412e-01,
        1.00846614e-01],
       [4.81623829e-02, 5.56395302e-03, 2.70878000e-02, 3.94005007e-01,
        2.79631474e-01],
       [2.11386020e-02, 2.12801003e-05, 4.25591293e-03, 3.64522330e-01,
        5.50298805e-02]])

In [199]:
standard_amin = pd.DataFrame(standardized_euclidean, columns=euclidean_test.columns)

In [200]:
standard_amin

,planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k]
0,0.354432,0.134914,0.014783,0.510438,0.069552
1,0.360437,0.102512,0.010675,0.407623,0.069552
2,0.378453,0.033380,0.003000,0.353151,0.069552
3,0.369445,0.056602,0.005488,0.606913,0.068348
4,0.396469,0.012379,0.000954,0.816159,0.069124
...,...,...,...,...,...
4841,0.057170,0.000119,0.002171,0.353151,0.196464
4842,0.138842,0.000470,0.000746,0.353151,0.140936
4843,0.106714,0.000310,0.001039,0.353151,0.100847
4844,0.048162,0.005564,0.027088,0.394005,0.279631
4845,0.021139,0.000021,0.004256,0.364522,0.055030

In [193]:
euclidean_sinml

,planet_name,host_name,orbital_period_[days],orbit_semi-major_axis_[au]),planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k],ratio_of_semi-major_axis_to_stellar_radius,stellar_effective_temperature_[k],stellar_radius_[solar_radius],stellar_mass_[solar_mass],distance_[pc],number_of_planets,insolation_flux_earth,stellar_surface_gravity,stellar_age_[gyr]
0,11 Com b,11 Com,326.030000,1.290000,12.10,6165.60000,19.100,0.231000,NaN,14.599543,4742.0,19.00,2.70,93.1846,1,NaN,2.31,NaN
1,11 UMi b,11 UMi,516.219970,1.530000,12.30,4684.81420,13.800,0.080000,NaN,11.043941,4213.0,29.79,2.78,125.3210,1,NaN,1.93,1.56
2,14 And b,14 And,185.840000,0.830000,12.90,1525.50000,3.900,0.000000,NaN,16.225144,4813.0,11.00,2.20,75.4392,1,NaN,2.63,4.50
3,14 Her b,14 Her,1765.038901,2.773069,12.60,2586.74645,7.110,0.372689,NaN,641.181348,5338.0,0.93,0.91,17.9323,2,NaN,4.45,3.90
4,16 Cyg B b,16 Cyg B,798.500000,1.660000,13.50,565.73740,1.260,0.680000,NaN,315.887759,5750.0,1.13,1.08,21.1397,1,NaN,4.36,7.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5260,Kepler-228 d,Kepler-228,11.094286,0.101000,4.04,15.40000,1.280,0.000000,835.0,10.900000,6043.0,1.01,0.95,1644.6100,3,122.78,4.47,0.30
5261,Kepler-229 b,Kepler-229,6.252972,0.062000,2.20,5.48000,2.830,0.000000,823.0,18.940000,5120.0,0.73,0.80,826.2650,3,76.22,4.63,1.10
5262,Kepler-229 c,Kepler-229,16.068638,0.117000,4.92,21.50000,0.992,0.000000,600.0,36.850000,5120.0,0.73,0.80,826.2650,3,21.64,4.63,1.10
5263,Kepler-229 d,Kepler-229,41.194912,0.220000,3.85,14.20000,1.370,0.000000,439.0,70.750000,5120.0,0.73,0.80,826.2650,3,6.16,4.63,1.10
5264,Kepler-23 b,Kepler-23,7.107300,0.075000,1.90,254.30000,NaN,0.060000,1157.0,10.643000,5760.0,1.52,1.11,835.7560,3,446.11,4.00,6.00

In [194]:
euclidean_sinmltest

,planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k]
30,1.875,7.990,6.660,0.050,1958.0
46,4.070,20.120,1.320,0.186,593.0
73,1.820,3.950,3.600,0.000,464.0
80,16.700,327.350,0.380,0.000,1898.0
83,16.140,291.438,0.411,0.070,1442.0
...,...,...,...,...,...
5259,2.700,7.750,2.160,0.000,1160.0
5260,4.040,15.400,1.280,0.000,835.0
5261,2.200,5.480,2.830,0.000,823.0
5262,4.920,21.500,0.992,0.000,600.0
5263,3.850,14.200,1.370,0.000,439.0

In [201]:
standard_nasa = pd.DataFrame(standard_sinml, columns=euclidean_sinmltest.columns)

In [202]:
standard_nasa

,planet_radius,planet_mass,planet_density,eccentricity,equilibrium_temperature_[k]
0,0.067934,0.000174,0.005140,0.054142,0.470916
1,0.162371,0.000439,0.001000,0.201407,0.125695
2,0.065568,0.000086,0.002768,0.000000,0.093070
3,0.705761,0.007162,0.000271,0.000000,0.455741
4,0.681668,0.006376,0.000295,0.075799,0.340415
...,...,...,...,...,...
3452,0.103429,0.000169,0.001651,0.000000,0.269095
3453,0.161081,0.000336,0.000969,0.000000,0.186899
3454,0.081917,0.000119,0.002171,0.000000,0.183864
3455,0.198942,0.000470,0.000746,0.000000,0.127466
3456,0.152906,0.000310,0.001039,0.000000,0.086748